{% extends 'base.html' %}
{#{% load static %}#}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <fieldset disabled>
            <div class="row disabled">
                <div class="col col-4">
                    Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                </div>
                <div class="col col-3">
                    Дата создания:<input type="text" value="{{ snippet.creation_date | date:'Y.m.d' }} {{ snippet.creation_date |time:'H:i'}}" class="form-control">
                </div>
                <div class="col col-3">
                    Дата обновления:<input type="text" value="{{ snippet.updated_at | date:'Y.m.d' }} {{ snippet.updated_at | time:'H:i' }} " class="form-control">
                </div>
                <div class="col col-2">
                    Просмотров:<input type="text" value="{{ snippet.views_count }}" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                        <p>
                            {{ snippet.code }}
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                        <p>
                            {{ snippet.description }}
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>

    <form action="{% url 'comment_add' %}" method="POST">
       {% csrf_token %} {{ comment_form }}
       <input type="hidden" name="snippet_id" value="{{ snippet.id }}"> <button type="submit">Добавить</button>
    </form>

    <table border="1">
        <tr>
            <th>Автор</th>
            <th>Комментарий</th>
            <th>Дата</th>
        </tr>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.author.username }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.creation_date|date:"Y-m-d H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Пока нет комментариев. Будьте первым!</td>
            </tr>
        {% endfor %}
    </table>


    </div>
{% endblock %}